/******w**************
    
    Assignment 4 Stylesheet
    Name: 
    Date: 
    Description: 

*********************/
* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

html {
     font-size: 62.5%;
}

body {
     display: flex;
     justify-content: center;
     align-items: center;

     background: rgb(242, 255, 242);
     background: linear-gradient(
          107deg,
          rgba(242, 255, 242, 1) 0%,
          rgba(186, 255, 184, 1) 100%
     );

     padding-top: 10rem;
}

.wrapper {
     min-height: 55rem;
     width: 50%;
     display: flex;
     flex-direction: column;
     gap: 3rem;

     padding: 5rem;

     border: 2px solid #2f9e44;
     border-radius: 5rem;
     background-color: #fff;
}

.section-search {
     margin-bottom: 2rem;
}

#form {
     display: flex;
     align-items: center;
}

.search-label {
     font-size: 4rem;
     margin-right: 3rem;
     letter-spacing: 0.95;
}

#search-bar {
     font-size: 2rem;
     padding: 1rem 0 1rem 1rem;
     width: 70%;
     border-radius: 2rem;
}

#submit {
     padding: 0.5rem;
     background-color: inherit;
     border: none;
}

#submit ion-icon {
     font-size: 3rem;
}

.error {
     padding: 1rem 0 1rem 2rem;
     background-color: rgb(249, 137, 137);
     font-size: 2rem;
     border-radius: 3rem;
     margin-top: 0.5rem;
     display: none;
}

.heading-second {
     font-size: 3rem;
     font-weight: 500;
}

.result-date-list {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 2rem;
}

.result-date {
     position: relative;
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
     width: 18rem;
     border-radius: 43% 57% 11% 89% / 87% 74% 26% 13%;
     border: 1px solid black;
     background-color: black;
     color: #fff;

     padding: 4rem;
     margin: 5rem 0 2rem;
     font-size: 2rem;
}

.result-date::before {
     content: "";
     position: absolute;
     top: -2.5rem;
     left: 50%;
     transform: translateX(-50%);
     height: 3rem;
     width: 3rem;
     border-radius: 10% 90% 63% 37% / 16% 8% 92% 84%;
     border: 1px solid black;
     background-color: black;
}
